<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Heardle - {{title}}</title>
</head>
<body>
    
    <div class="top-nav">
        <h1>Heardle {{title}}<h1>
    </div>

    <div class="bottom-nav">

        <div class="progress-bar">

        </div>

        <div class="controls">
            <p>0:00</p>

            <p>00:17</p>
        </div>

        <div class="input-box">
            <input type="text" placeholder="Know it? Search for the artist  / title">
        </div>

        <div class="btn-group">
            <button id="skip_btn">SKIP (+1s)</button>
            <button id="submit_btn">SUBMIT</button>
        </div>
    </div>

</body>
</html>